body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;

}

/* -------------- PRIMERA CARTA ------------------- */

.carta-1 {
    margin-top: 50px;
    max-width: 1000px;
    height: 790px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta-1 h2 {
    width: 50%;
    font-size: 2.5rem;
    line-height: 60px;
    margin-bottom: 5px;
    color: #333;
}

.carta-1 p {
    width: 50%;
    color: #000a;
    line-height: 22px;
    margin-top: 0px;
    font-weight: 500;
    font-size: 15px;
}

.carta-1 button {
    padding: 14px 40px;
    border: none;
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    font-weight: 100;
}

.carta-1 div {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 45px;
}

.carta-1 img {
    width: 220px;
    border-radius: 10px;
}

/* -------------- SEGUNDA CARTA ------------------- */

.carta-2 {
    margin-top: 50px;
    max-width: 830px;
    height: 620px;
    box-shadow: 3px 7px 81px -10px rgba(0,0,0,0.75);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.carta-2__primera-parte {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.carta-2__primera-parte div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 20px;
}

.carta-2__primera-parte h2 {
    font-size: 2rem;
    color: #333;
    line-height: 50px;
    margin-bottom: 0;
}

.carta-2__primera-parte button {
    border-radius: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    padding: 10px 25px ;
}

.carta-2__primera-parte p {
    font-family: sans-serif;
    color: #555;
    line-height: 22px;
}

.carta-2__segunda-parte {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}